@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-bottom: auto;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer {
  margin-top: 0;
  background-color: lightgrey;
}

.header {
  margin-bottom: 200px;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

